Repository do3cc/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, stylua, google-java-format, prettier, fish-indent, shfmt

ruff-check:
  name: ruff-check
  entry: ruff check
  args:
  - --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

stylua:
  name: stylua
  entry: stylua
  language: system

google-java-format:
  name: google-java-format
  entry: google-java-format
  args:
  - --aosp-style
  - --replace
  language: system

prettier:
  name: prettier
  entry: prettier
  args:
  - --write
  language: system

fish-indent:
  name: fish_indent
  entry: fish_indent
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -w
  language: system

chore: Update cache data
  lazy_nvim/lazyvim.json
Due: prettier

WIP
  pyproject.toml
  src/dotfiles/init.py
  tests/test_init.py
  uv.lock
Due: ruff-check, ruff-format, pyright

feat: add /evaluate-issues slash command for comprehensive issue management
  .claude/commands/evaluate-issues.md
Due: prettier

docs: add /evaluate-issues command documentation to CLAUDE.md
  CLAUDE.md
Due: prettier

feat: add wt-root command to navigate back to project root from worktrees
  CLAUDE.md
  fish/functions/wt-root.fish
Due: prettier, fish-indent

feat: add TODO: REVIEW marker guidelines for AI-generated code
  CLAUDE.md
Due: prettier

fix: correct /evaluate-issues plan detection to check branch files only
  .claude/commands/evaluate-issues.md
Due: prettier

WIP
  tests/test_pkgstatus.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

WIP: Comprehensive pytest test suite with parametrization and fixtures
  .claude/settings.local.json
  CLAUDE.md
  src/dotfiles/logging_config.py
  tests/conftest.py
  tests/test_init.py
  tests/test_logging_config.py
  tests/test_output_formatting.py
  tests/test_pkgstatus.py
  tests/test_process_helper.py
  tests/test_project_status.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright, prettier

feat: add comprehensive implementation plan for issue #53
  issue-53-plan.md
Due: prettier

fix: add missing log_debug method to LoggingHelpers
  src/dotfiles/logging_config.py
Due: ruff-check, ruff-format, pyright

fix: resolve test infrastructure bugs and add pytest configuration
  pyproject.toml
  src/dotfiles/init.py
  src/dotfiles/logging_config.py
  tests/test_init.py
Due: ruff-check, ruff-format, pyright

docs: update issue-53 plan to reflect recent codebase changes
  issue-53-plan.md
Due: prettier

test: improve test quality by removing anti-patterns
  CLAUDE.md
  pyrightconfig.json
  src/dotfiles/init.py
  src/dotfiles/pkgstatus.py
  src/dotfiles/project_status.py
  tests/test_init.py
  tests/test_output_formatting.py
  tests/test_pkgstatus.py
  tests/test_project_status.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright, prettier

WIP
  .claude/settings.local.json
  CLAUDE.md
  pyproject.toml
  src/dotfiles/init.py
  tests/test_init.py
  uv.lock
Due: ruff-check, ruff-format, pyright, prettier

test(init): add comprehensive unit tests and refactor package lists
  __pycache__/init.cpython-312.pyc
  src/dotfiles/init.py
  src/dotfiles/swman.py
  tests/test_init.py
  tests/test_project_status.py
Due: ruff-check, ruff-format, pyright

chore: update configuration and documentation
  .claude/settings.local.json
  .pre-commit-config.yaml
  CLAUDE.md
  lazy_nvim/lazy-lock.json
  lazy_nvim/lazyvim.json
  lazy_nvim/lua/config/lazy.lua
  lazy_nvim/lua/config/options.lua
  pyproject.toml
  uv.lock
Due: stylua, prettier

chore: add evaluate-issues command and pyrightconfig
  .claude/commands/evaluate-issues.md
  pyrightconfig.json
Due: prettier

chore: sync uv.lock with pytest-cov dependency addition
  uv.lock
Due: none

chore: add gitignore rules and commit pre-commit hook and mason config
  .gitignore
  .pre-commit-hooks/forbid-review-markers.sh
  lazy_nvim/lua/plugins/mason.lua
Due: stylua, shfmt

docs: migrate worktrees directory to .worktrees and update documentation
  .gitignore
  CLAUDE.md
  fish/functions/wt-goto.fish
  fish/functions/wt-list.fish
  fish/functions/wt-new.fish
  fish/functions/wt-remove.fish
Due: prettier, fish-indent

fix: make pkgstatus work from any directory using DOTFILES_DIR
  CLAUDE.md
  fish/config.fish
  src/dotfiles/pkgstatus.py
  tests/test_pkgstatus.py
Due: ruff-check, ruff-format, pyright, prettier, fish-indent

refactor: rename in_dotfiles to dotfiles_found for clarity
  src/dotfiles/pkgstatus.py
  tests/test_pkgstatus.py
Due: ruff-check, ruff-format, pyright

fix: correct init.py path to src/dotfiles/init.py and use absolute default path
  src/dotfiles/pkgstatus.py
  tests/test_pkgstatus.py
Due: ruff-check, ruff-format, pyright

feat: add local_bin_files field to EnvironmentConfig
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat: implement link_local_bin method for symlinking scripts
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat: integrate link_local_bin into installation flow
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: add exist_ok=True to link_configs mkdir for idempotency
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

docs: add manual testing results for link-local-bin feature
  docs/TEST_RESULTS.md
Due: prettier

feat: add local_bin directory with run-claude.sh script
  local_bin/run-claude.sh
Due: shfmt

docs: add implementation plan for link-local-bin feature
  docs/plans/2025-10-24-link-local-bin.md
Due: prettier

feat: add pause_for_interactive context manager for clean terminal I/O
  src/dotfiles/output_formatting.py
  tests/test_init.py
  tests/test_logging_config.py
  tests/test_output_formatting.py
  tests/test_project_status.py
Due: ruff-check, ruff-format, pyright

feat: add run_interactive_command helper for sudo password prompts
  src/dotfiles/process_helper.py
  tests/test_process_helper.py
Due: ruff-check, ruff-format, pyright

refactor: use run_interactive_command for tailscale setup
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

refactor: use run_interactive_command for pacman operations
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

refactor: use run_interactive_command for systemctl operations
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

refactor: use run_interactive_command for apt-get operations
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

refactor: use run_interactive_command for timezone setup
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

Path conditions:
  ruff-check: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  pyright: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  stylua: any of: \.lua$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  google-java-format: any of: \.java$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  prettier: any of: \.(json|yaml|yml|md|js|ts|tsx|jsx)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  fish-indent: any of: \.fish$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  shfmt: any of: \.(sh|bash)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

