Repository do3cc/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, stylua, google-java-format, prettier, fish-indent, shfmt

ruff-check:
  name: ruff-check
  entry: ruff check
  args:
  - --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

stylua:
  name: stylua
  entry: stylua
  language: system

google-java-format:
  name: google-java-format
  entry: google-java-format
  args:
  - --aosp-style
  - --replace
  language: system

prettier:
  name: prettier
  entry: prettier
  args:
  - --write
  language: system

fish-indent:
  name: fish_indent
  entry: fish_indent
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -w
  language: system

fix(init): resolve dotfiles repo path for uv tool install
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

Remove tmux
  CLAUDE.md
  README.md
  packages.yaml
  src/dotfiles/init.py
  src/dotfiles/swman.py
  tests/test_init.py
  tests/test_logging_config.py
  tmux/tmux.conf
Due: ruff-check, ruff-format, pyright, prettier

Newer lazyvim versions
  lazy_nvim/lazy-lock.json
Due: none

docs: add default cache directory to pkgstatus help text
  src/dotfiles/pkgstatus.py
Due: ruff-check, ruff-format, pyright

conf: lazy-load pkgstatus in background to improve shell startup time
  fish/config.fish
Due: fish-indent

feat: add --cached-only mode for fast shell startup without system checks
  src/dotfiles/pkgstatus.py
Due: ruff-check, ruff-format, pyright

fix: use systemctl --user for user services and symlink unit files individually
  src/dotfiles/init.py
  systemd/pkgstatus-update.service
Due: ruff-check, ruff-format, pyright

chore: remove debug date commands from shell startup
  fish/config.fish
Due: fish-indent

fix: handle None stderr when checking systemd service errors
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat: add systemd timer to auto-refresh pkgstatus cache every 6 hours
  src/dotfiles/init.py
  systemd/pkgstatus-update.service
  systemd/pkgstatus-update.timer
Due: ruff-check, ruff-format, pyright

chore: use --cached-only mode in shell startup for instant status display
  fish/config.fish
Due: fish-indent

feat: install prek and activate git hooks during init
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat: install ruff and run pyright via uv for git hooks
  .pre-commit-config.yaml
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright, prettier

fix: resolve ruff and pyright errors in init.py
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: add zsh, unzip, sudo to run-claude image and use curl for Go
  local_bin/run-claude.sh
Due: shfmt

feat(nvim): enable exrc and prettier for html templates
  lazy_nvim/init.lua
  lazy_nvim/lua/plugins/conform.lua
Due: stylua

chore(nvim): update plugin lockfile
  lazy_nvim/lazy-lock.json
Due: none

style(docs): apply formatter to python code blocks
  CLAUDE.md
  docs/plans/2025-10-24-link-local-bin.md
  issue-53-plan.md
Due: prettier

feat: track myrepos config
  mr/config
Due: none

chore: remove legacy nvim config and stray fish config
  config_fish_config.fish
  nvim/coc-settings.json
  nvim/init.lua
  nvim/init.vim_old
  nvim/lazy-lock.json
  nvim/lua/config/lazy.lua
  nvim/lua/plugins/all.lua
Due: stylua, prettier, fish-indent

chore: untrack CLAUDE.local.md and ignore syncthing conflicts
  .gitignore
  CLAUDE.local.md
Due: prettier

chore: move issue-53 plan into docs/plans
  docs/plans/issue-53-plan.md
Due: prettier

chore: make unit tests runnable via make test-unit
  CLAUDE.md
  Makefile
  README.md
  pyproject.toml
  tests/test_logging_config.py
  uv.lock
Due: ruff-check, ruff-format, pyright, prettier

refactor(init): use a single ~/.ssh/id_ed25519 key per machine
  CLAUDE.md
  README.md
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright, prettier

chore: remove unused myrepos config
  mr/config
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat(init): install and activate Syncthing with shared ignore patterns
  README.md
  packages.yaml
  src/dotfiles/init.py
  syncthing/stignore
  tests/test_syncthing.py
Due: ruff-check, ruff-format, pyright, prettier

feat: add implementation plan for issue #71
  docs/plans/issue-71-plan.md
Due: prettier

feat(ghostty): manage ghostty config via dotfiles-init
  README.md
  ghostty/config
  packages.yaml
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright, prettier

feat: add implementation plan for issue #73
  docs/plans/issue-73-plan.md
Due: prettier

refactor: remove minimal/work/private environment profiles
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  README.md
  docs/testing/interactive-sudo-commands.md
  git/config
  packages.yaml
  src/dotfiles/init.py
  test/Containerfile.arch
  test/Containerfile.debian
  test/run_test.sh
  test/run_tests.sh
  tests/test_init.py
  tests/test_package_manifest.py
  tests/test_syncthing.py
Due: ruff-check, ruff-format, pyright, prettier, shfmt

fix(init): fail when the removed DOTFILES_ENVIRONMENT is still set
  src/dotfiles/init.py
  tests/test_init.py
Due: ruff-check, ruff-format, pyright

fix(pkgstatus): default DOTFILES_DIR to ~/projects/dotfiles
  src/dotfiles/pkgstatus.py
Due: ruff-check, ruff-format, pyright

docs: note tools to install manually in cloud sessions
  CLAUDE.md
Due: prettier

feat: add implementation plan for issue #76
  docs/plans/issue-76-plan.md
Due: prettier

feat: add implementation plan for issue #77
  docs/plans/issue-77-plan.md
Due: prettier

feat: add implementation plan for issue #62
  docs/plans/issue-62-plan.md
Due: prettier

fix(git): clean up duplicate, invalid and redundant config keys
  git/config
Due: none

feat(git): add well-established safe defaults
  git/config
Due: none

docs: update plan for issue #77 with owner decisions
  docs/plans/issue-77-plan.md
Due: prettier

feat: add implementation plan for issue #54
  docs/plans/issue-54-plan.md
Due: prettier

Path conditions:
  ruff-check: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  pyright: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  stylua: any of: \.lua$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  google-java-format: any of: \.java$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  prettier: any of: \.(json|yaml|yml|md|js|ts|tsx|jsx)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  fish-indent: any of: \.fish$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  shfmt: any of: \.(sh|bash)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

