Repository do3cc/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, stylua, google-java-format, prettier, fish-indent, shfmt

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    __pycache__/.*|
    \.venv/.*|
    \.direnv/.*|
    .*\.pyc|
    uv\.lock|
    .*/lazy-lock\.json|
    .*\.log|
    \.envrc|
    lazy_nvim/lua/plugins/gitlab-sast\.lua
  )$

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check
        args: [--fix]
        language: system
        files: \.py$
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: \.py$
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        files: \.py$
        pass_filenames: false
      - id: stylua
        name: stylua
        entry: stylua
        language: system
        files: \.lua$
      - id: google-java-format
        name: google-java-format
        entry: google-java-format
        args: [--aosp-style, --replace]
        language: system
        files: \.java$
      - id: prettier
        name: prettier
        entry: prettier
        args: [--write]
        language: system
        files: \.(json|yaml|yml|md|js|ts|tsx|jsx)$
      - id: fish-indent
        name: fish_indent
        entry: fish_indent
        language: system
        files: \.fish$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-w]
        language: system
        files: \.(sh|bash)$

docs: update plan for issue #76 with owner decisions
  docs/plans/issue-76-plan.md
Due: prettier

feat: add implementation plan for issue #33
  docs/plans/issue-33-plan.md
Due: prettier

feat: add implementation plan for issue #46
  docs/plans/issue-46-plan.md
Due: prettier

feat: add implementation plan for issue #52
  docs/plans/issue-52-plan.md
Due: prettier

feat: add implementation plan for issue #80
  docs/plans/issue-80-plan.md
Due: prettier

feat: add implementation plan for issue #81
  docs/plans/issue-81-plan.md
Due: prettier

style: clean up existing ruff violations
  src/dotfiles/logging_config.py
  src/dotfiles/output_formatting.py
  src/dotfiles/pkgstatus.py
  src/dotfiles/process_helper.py
  src/dotfiles/project_status.py
  src/dotfiles/status_cache.py
  src/dotfiles/swman.py
  tests/conftest.py
  tests/test_init.py
  tests/test_output_formatting.py
  tests/test_process_helper.py
  tests/test_project_status.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

fix: exit non-zero when dotfiles-init, swman and pkgstatus fail
  src/dotfiles/init.py
  src/dotfiles/pkgstatus.py
  src/dotfiles/swman.py
  tests/test_init.py
  tests/test_pkgstatus.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

docs: plan 77 defers the update_all logging to #80
  docs/plans/issue-77-plan.md
Due: prettier

fix(init): missing libsecret helper is a known limitation on Debian
  src/dotfiles/init.py
  tests/test_init.py
Due: ruff-check, ruff-format, pyright

fix(init): tolerate missing user systemd and secret service in containers
  src/dotfiles/init.py
  tests/test_init.py
Due: ruff-check, ruff-format, pyright

docs: update plan for issue #81 with owner decisions
  docs/plans/issue-81-plan.md
Due: prettier

feat(git): modernize git config, sign commits with the SSH key
  README.md
  fish/config.fish
  git/config
  src/dotfiles/init.py
  tests/test_git_config.py
Due: ruff-check, ruff-format, pyright, prettier, fish-indent

docs: update plan for issue #81 with final decisions
  docs/plans/issue-81-plan.md
Due: prettier

docs: update plan for issue #33 with owner decisions
  docs/plans/issue-33-plan.md
Due: prettier

feat(swman): list the packages in --dry-run and --check
  CLAUDE.md
  src/dotfiles/swman.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright, prettier

docs: update plan for issue #80 with owner decisions
  docs/plans/issue-80-plan.md
Due: prettier

docs: update plan for issue #62 with owner decisions
  docs/plans/issue-62-plan.md
Due: prettier

docs: update plan for issue #54 with owner decisions
  docs/plans/issue-54-plan.md
Due: prettier

docs: update plan for issue #46 with owner decisions
  docs/plans/issue-46-plan.md
Due: prettier

fix(swman): log orchestrator failures with event names, drop unused update_all
  src/dotfiles/swman.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

feat(git): add pushf alias and push.useForceIfIncludes
  git/config
  tests/test_git_config.py
Due: ruff-check, ruff-format, pyright

refactor(logging): remove unused log_package_operation and log_file_operation
  CLAUDE.md
  src/dotfiles/logging_config.py
  tests/test_logging_config.py
Due: ruff-check, ruff-format, pyright, prettier

feat: add implementation plan for issue #90
  docs/plans/issue-90-plan.md
Due: prettier

feat: verbose mode logs at debug level and prints the log file location
  CLAUDE.md
  src/dotfiles/init.py
  src/dotfiles/logging_config.py
  src/dotfiles/output_formatting.py
  src/dotfiles/pkgstatus.py
  src/dotfiles/project_status.py
  src/dotfiles/swman.py
  tests/test_verbose_logging.py
Due: ruff-check, ruff-format, pyright, prettier

feat: add implementation plan for issue #84
  docs/plans/issue-84-plan.md
Due: prettier

docs: update plan for issue #52 with owner decisions
  docs/plans/issue-52-plan.md
Due: prettier

docs: update plan for issue #90 with owner decisions
  docs/plans/issue-90-plan.md
Due: prettier

docs: update plan for issue #84 with owner decisions
  docs/plans/issue-84-plan.md
Due: prettier

feat: add implementation plan for issue #48
  docs/plans/issue-48-plan.md
Due: prettier

docs: update plan for issue #48 with owner decisions
  docs/plans/issue-48-plan.md
Due: prettier

chore: remove unused noqa: DTZ005 directives for ruff 0.17
  tests/test_init.py
Due: ruff-check, ruff-format, pyright

feat(logging): write the log as logfmt, with real tracebacks
  CLAUDE.md
  src/dotfiles/logging_config.py
  src/dotfiles/output_formatting.py
  tests/test_logging_config.py
  tests/test_verbose_logging.py
Due: ruff-check, ruff-format, pyright, prettier

fix(fish): wt tools create their directories and work from anywhere
  fish/functions/_wt_root.fish
  fish/functions/wt-clean.fish
  fish/functions/wt-goto.fish
  fish/functions/wt-list.fish
  fish/functions/wt-new.fish
  fish/functions/wt-remove.fish
  tests/test_wt_functions.py
Due: ruff-check, ruff-format, pyright, fish-indent

docs: draft test suite audit (mutation results pending)
  docs/test-audit.md
Due: prettier

docs: test suite audit with mutation results
  docs/test-audit.md
Due: prettier

docs: correct survivor count in the test audit
  docs/test-audit.md
Due: prettier

test: apply the test suite audit
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check-test-assertions.py
  CLAUDE.md
  src/dotfiles/logging_config.py
  tests/conftest.py
  tests/logfmt_helper.py
  tests/test_check_test_assertions.py
  tests/test_dockerfile_manifest.sh
  tests/test_init.py
  tests/test_logging_config.py
  tests/test_output_formatting.py
  tests/test_process_helper.py
  tests/test_run_claude_manifest.py
  tests/test_status_cache.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright, prettier, shfmt
