Repository do3cc/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright, stylua, google-java-format, prettier, fish-indent, shfmt

ruff-check:
  name: ruff-check
  entry: ruff check
  args:
  - --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

pyright:
  name: pyright
  entry: pyright
  language: system
  pass_filenames: false

stylua:
  name: stylua
  entry: stylua
  language: system

google-java-format:
  name: google-java-format
  entry: google-java-format
  args:
  - --aosp-style
  - --replace
  language: system

prettier:
  name: prettier
  entry: prettier
  args:
  - --write
  language: system

fish-indent:
  name: fish_indent
  entry: fish_indent
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -w
  language: system

refactor: use run_interactive_command for chsh
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

docs: add testing guide for interactive sudo commands
  docs/testing/interactive-sudo-commands.md
Due: prettier

fix: add exist_ok=True to projects directory creation
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: correct install script paths to be relative to repo
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: correct config linking paths to be relative to repo
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: improve config symlink status messages and comparison
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: correct git credential helper validation to use proper protocol
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: provide required fields for git-credential-libsecret test
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

feat: add --clear-cache flag to dotfiles-init for testing
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

fix: properly pause progress display for sudo prompts and track errors
  src/dotfiles/init.py
  src/dotfiles/output_formatting.py
Due: ruff-check, ruff-format, pyright

fix: clear progress lines when pausing for interactive commands
  src/dotfiles/output_formatting.py
Due: ruff-check, ruff-format, pyright

fix: clear additional progress lines for complete removal
  src/dotfiles/output_formatting.py
Due: ruff-check, ruff-format, pyright

fix: remove persistent progress context to allow sudo password prompts
  src/dotfiles/init.py
  src/dotfiles/output_formatting.py
  tests/test_init.py
  tests/test_output_formatting.py
Due: ruff-check, ruff-format, pyright

chore: add default outputStyle to Claude Code settings
  .claude/settings.local.json
Due: prettier

feat: add comprehensive Docker/Podman wrapper for Claude Code
  local_bin/run-claude.sh
Due: shfmt

chore: ignore tmux plugins directory
  .gitignore
Due: none

fix: show timeout output and track update failures in error summary
  src/dotfiles/init.py
  src/dotfiles/process_helper.py
  src/dotfiles/swman.py
Due: ruff-check, ruff-format, pyright

fix: propagate check_updates exceptions for better error visibility
  src/dotfiles/swman.py
Due: ruff-check, ruff-format, pyright

fix!: handle checkupdates returncode 2 as no-updates instead of error
  src/dotfiles/swman.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

fix: add missing check parameter to process_helper and improve tests to catch implementation bugs
  src/dotfiles/process_helper.py
  tests/test_swman.py
Due: ruff-check, ruff-format, pyright

feat: add shared package manifest
  packages.yaml
Due: prettier

chore: add PyYAML dependency for package manifest
  pyproject.toml
  uv.lock
Due: none

feat: add package manifest loading to Linux class
  src/dotfiles/init.py
  tests/test_package_manifest.py
Due: ruff-check, ruff-format, pyright

refactor: Arch class reads packages from manifest
  src/dotfiles/init.py
  tests/test_package_manifest.py
Due: ruff-check, ruff-format, pyright

refactor: Debian class reads packages from manifest
  src/dotfiles/init.py
  tests/test_package_manifest.py
Due: ruff-check, ruff-format, pyright

test: add test for manifest-based Dockerfile generation (RED)
  tests/test_dockerfile_manifest.sh
Due: shfmt

feat: update Dockerfile generation to use packages.yaml (GREEN)
  local_bin/run-claude.sh
Due: shfmt

feat: build_image and export_dockerfile copy packages.yaml
  local_bin/run-claude.sh
Due: shfmt

docs: document shared package manifest system
  CLAUDE.md
Due: prettier

WIP
  fish/fish_variables
  lazy_nvim/lazy-lock.json
  lazy_nvim/lazyvim.json
Due: prettier

Everything broken
  fish/conf.d/fish_frozen_key_bindings.fish
  fish/conf.d/fish_frozen_theme.fish
  fish/fish_variables
  lazy_nvim/lazy-lock.json
  lazy_nvim/lazyvim.json
Due: prettier, fish-indent

I don't use alacritty any more
  CLAUDE.md
  README.md
  alacritty/alacritty.toml
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright, prettier

Fixing programming error
  src/dotfiles/init.py
Due: ruff-check, ruff-format, pyright

Ignore the local status file
  .gitignore
  lazy_nvim/lazyvim.json
Due: prettier

Newer lazyvim status
  lazy_nvim/lazy-lock.json
Due: none

fix(swman): invalidate pkgstatus packages cache after updates
  src/dotfiles/swman.py
Due: ruff-check, ruff-format, pyright

refactor(pkgstatus): move cache handling into StatusCache
  src/dotfiles/pkgstatus.py
  src/dotfiles/status_cache.py
  tests/test_pkgstatus.py
  tests/test_status_cache.py
Due: ruff-check, ruff-format, pyright

fish updated some plugins we have in our git
  fish/conf.d/fish-ssh-agent.fish
  fish/conf.d/fzf.fish
  fish/functions/_fzf_configure_bindings_help.fish
  fish/functions/_fzf_extract_var_info.fish
  fish/functions/_fzf_search_directory.fish
  fish/functions/fzf_configure_bindings.fish
Due: fish-indent

Path conditions:
  ruff-check: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  pyright: any of: \.py$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  stylua: any of: \.lua$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  google-java-format: any of: \.java$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  prettier: any of: \.(json|yaml|yml|md|js|ts|tsx|jsx)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  fish-indent: any of: \.fish$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

  shfmt: any of: \.(sh|bash)$, but not: (?x)^(
  __pycache__/.*|
  \.venv/.*|
  \.direnv/.*|
  .*\.pyc|
  uv\.lock|
  .*/lazy-lock\.json|
  .*\.log|
  \.envrc|
  lazy_nvim/lua/plugins/gitlab-sast\.lua
)$

